
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


body{ 
    background-color: #10486E;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    overflow-x:hidden;
}

.home-wrap{
    height: 100vh;
    position: relative;
}

.icon{
    text-align: center;
    padding:30px;
}

.icon img{
    text-align: center;
    width: 20%;
    margin: 50px;
}

.text{
    text-align: center;
    color: #eee;
    padding:0px 400px
}

.button{
    background-color: #eee;
    margin:auto;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    width: fit-content;
}

h1{
    font-family: "comfortaa";
    font-size: 61px;
    margin:0px;
}

h2{
    font-family: "montserrat";
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 20px;
    margin: 0px;
}

p{
    font-family: "montserrat";
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0px;
}

a{
    color:black;
    text-decoration: none;
    margin: 5px;
}

/* Mobile Portrait */

@media (min-width: 0px) and (max-width: 767px) {
    .icon img{
        width: 50%;
        margin:0px;
    }

    .text{
        padding:0px;
    }

    .button{
        margin: 50px 20px;
        padding:5px;
    }

    .button p{
        margin:0px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 20px;
        letter-spacing: 10px;
    }

    p{
        font-size: 20px;
        margin: 25px;
    }
}

/* Tablet Portrait  */
@media (min-width: 768px) and (max-width: 979px){
    
    .icon{
        padding:50px 20px;
    }

    .icon img{
        margin: 10px;
    }

    .text{
        padding: 50px;
    }
}


/* Tablet Landscape */
@media (min-width: 980px) and (max-width: 1190px){

    .icon{
        padding:0px;
    }

    .icon img{
        margin:20px;
    }

    .text{
        padding:50px;
    }
}